h1 Welcome
form.welcome-form(action='./', onsubmit='')
  input(
    type='search',
    name='owner',
    value=owner,
    placeholder='e.g. viktor-yakubiv',
    required
  )
  button(type='submit') Search
